<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control ng-class:{'input-error': error, 'input-success': success};" ng-model="lunch">
             <p>IMPORTANT: This solution IS NOT counting an 'empty' item towards the count of how many items there are in the list. Example: if the input is "apple,,orange,,coffee", the solution will take into consideration only 3 elements => "apple, orange, coffee".</p>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check()">Check If Too Much</button>
         </div>
         <div class="form-group message ng-class:{'message-error': error, 'message-success': success};">
           {{message}}
         </div>
   </div>

  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>
